.btn-expense{
  background-color: #7d099e;
  color: #fff;
  border: 1px solid #000;
  border-radius:5px ;
  padding: 6px 12px;
}

.body{
  background-color: #4a4a4a;

}

.add{
  background-color: rgb(123, 69, 240);
  text-align: center;
  margin: 24px 24px;
  border:1px solid #000 ;
  border-radius: 10px;
}
.add-expense{
  background-color: rgb(165, 90, 236);
  margin: 12px 24px;
  border-radius: 10px;
  color: #fff;
  border: 1px solid #000;


}
.input-expense{
  background-color: rgb(123, 69, 240);
  margin: 24px 24px;
  border-radius: 10px;

}
.input-expense-item{
  display: flex;
  padding: 24px 24px;
  justify-content: space-around;
}
.input-item{
  border-radius: 6px;
  
}
.btn-input{
  display: flex;
  justify-content: flex-end;
}
.product{
  background-color: #000;
  margin: 24px 24px;
  border:1px solid #000 ;
  border-radius: 10px;
}
.product-filter{
  display: flex;
  justify-content: space-between;
}
.product-chart{
  background-color: #edc4e0;
  margin: 12px 12px;
  border-radius: 10px; 
  display: flex;
  justify-content: space-around;
}
.bar{
  display: flex;
  flex-direction: column;

}
.bar-column{
  width: 20px;
  height: 100px;
  background-color: #cbbff8;
  border-radius: 50px;
  border: 1px solid #000;
  margin: 12px 12px;
}
.bar-column-Jan{
  position: relative;
}
.bar-column-Jan::after{
  position:absolute;
  content: '';
  width: 18px;
  background-color: #5411e4;
  bottom: 0;
  height: 50px;
  border-bottom-left-radius:50px;
  border-bottom-right-radius:50px;


}
.bar-column-may{
  background-color: #5411e4;

}
.bar-column-october{
  position: relative;
}
.bar-column-october::after{
  position:absolute;
  content: '';
  width: 18px;
  background-color: #5411e4;
  bottom: 0;
  height: 75px;
  border-bottom-left-radius:50px;
  border-bottom-right-radius:50px;
}
.product-list{
  display: flex;
  justify-content: space-between;
  background-color: #5d5d5d;
  margin: 12px 12px;
  border-radius: 10px;
}
.product-list-item{
  display: flex;
  text-align: center;
  margin: 12px 12px;
  
}
.product-list-item-daymonyear{
  border: 1px solid #fff;
  border-radius: 7px;
  padding: 12px 12px;
  width: 100px;
  background-color: #000;

}
.product-list-item-daymonyear p{
  color: #fff;
  font-size: 12px;
  margin:4px 4px 4px 4px;
}
.product-list-item-name{
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 40px;
  margin: 6px 12px;
  
}